.wrapper {
    border-radius: 8px;

    > div {
        background-color: #303136;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        height: 36px;

        button {
            border: none;
            cursor: pointer;
            padding: 8px 16px;

            &:first-child {
                border-top-left-radius: 8px;
            }
        }
    }

    > pre {
        margin: 0 !important;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}