* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #fcfcfc;
  color: #000000;
}

:root {
  font-family: system-ui, Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.global_wrapper {
    padding: 0 48px;
    min-height: 100vh;
    background-color: #ffffff;
}

@media (min-width: 1440px) {
    .global_wrapper {
        padding: 0 200px;
    }
}

@media (min-width: 1920px) {
    .global_wrapper {
        padding: 0 480px;
    }

}