.banner {
    background-color: black;
    height: 300px;
    width: 100%;
    background-image: url("../../public/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}