.wrapper {
    border-radius: 8px;
    margin-bottom: 16px;
    position: relative;

    > div:first-child {
        /*background-color: #303136;*/
        background-color: var(--background-color);
        border: thin solid var(--secondary-color);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        height: 36px;

        button {
            cursor: pointer;
            padding: 8px 16px;

            &:first-child {
                border-top-left-radius: 8px;
            }
        }
    }

    > pre {
        margin: 0 !important;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border: thin solid var(--secondary-color);
        border-top: none;
    }
}

.active_button {
    border: none;
    background-color: var(--secondary-background-color);
    border-bottom: thin solid var(--secondary-color);
}

.inactive_button {
    border: none;
    background-color: inherit;
    border-bottom: none;
}