.wrapper {
    position: absolute;
    top: 48px;
    right: 24px;

    button {
        border: thin solid var(--secondary-color);
        border-radius: 4px;
        padding: 8px 12px;
        background-color: transparent;
        cursor: pointer;

        svg {
            height: 16px;
            width: 16px;
        }
    }
}

.check {
    fill: #009900;
}

.copy {
    fill: #ffffff;
}