.footer {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: thin solid #888888;
    padding: 16px;

    ul {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
        justify-content: center;


        li {
            list-style: none;
        }
    }
}