.wrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 36px 0;

    div {
        flex: 1;
        margin-bottom: 32px;

        div {
            position: relative;
            width: 100%;
            aspect-ratio: 16/8;
        }

        img {
            object-fit: cover;
        }

        h3 {
            font-size: 18px;
            margin-bottom: 8px;

            a {
                color: #0f0f0f;
                text-decoration: none;
            }
        }

        span {
            font-size: 13px;
            color: #555555;
            display: block;
            margin-bottom: 8px;
        }

        p {
            font-size: 14px;
        }
    }
}

@media (min-width: 768px) {
    .wrapper {
        flex-direction: row;
        flex-wrap: wrap;

        div {
            flex-basis: calc(33% - 60px);
        }
    }
}