.home_container {
    display: flex;
    gap: 20px;
}

.latest {
    display: flex;
    flex-direction: column;
    flex: 3;
    gap: 20px;
}

.blog_post {
    display: flex;
    margin-bottom: 20px;
    flex: 1;
    gap: 20px;

    img {
        border-radius: 10px;
    }

    div {
        display: flex;
        flex-direction: column;

        h3 {
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 10px;
        }

        a {
            color: #990000;
            text-decoration: none;
        }

        a:hover {
            color: red;
        }
    }
}

.popular {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    border: thin solid #dddddd;
    border-radius: 10px;
    min-width: 180px;
    padding: 10px 20px;
    background-color: #ffffff;

    h3 {
        margin-bottom: 10px 20px;
    }
}

.popular_post {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 10px;

    img {
        border-radius: 5px;
    }

    a {
        text-decoration: none;
        color: #000000;
    }

    a:hover {
        color: red;
    }
}

/* .latest > div {
    display: flex;
    gap: 40px;

    img {
        border-radius: 10px;
        flex: 2;
    }

    div {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}

.trending > div {
    display: flex;
    gap: 10px;

    img {
        border-radius: 10px;
        flex: 1;
    }

    div {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}

.popular > div {
    display: flex;
    gap: 10px;

    img {
        border-radius: 10px;
        flex: 1;
    }

    div {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
} */