.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: thin solid var(--color);
    width: 100%;
    padding: 36px 0;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    z-index: 1;

    h1 {
        a {
            font-size: 36px;
            font-weight: bold;
            background-color: var(--secondary-background-color);
            padding: 4px 16px;
            border-radius: 8px;
            color: var(--color);
            text-decoration: none;
        }
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 12px;

        button {
            border: none;
            background-color: var(--background-color);
            cursor: pointer;
            svg {
                width: 24px;
                height: 24px;
            }
        }
    }
}

@media (min-width: 768px) {
    .nav {
        ul {
            column-gap: 48px;
        }
    }
}