.wrapper {
    padding: 24px 0 36px;

    p {
        margin-bottom: 20px;
    }

    ol, ul {
        margin: 0 0 20px 20px;
    }

    h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 18px;
        margin-bottom: 8px;
    }

    h3 {
        font-size: 16px;
        margin-bottom: 4px;
    }

    pre {
        margin-bottom: 20px;
        text-wrap: auto;
    }

    a {
        color: #0000EE;
        text-decoration: none;

        &:hover {
            color: #990000;
        }
    }

    blockquote {
        border-left: thick solid black;
        padding: 4px 0 4px 16px;
        margin-bottom: 20px;
        background-color: #f8f8f8;

        * {
            margin: 0;
        }

        p {
            margin-bottom: 8px;
        }
    }

    code:not(pre > code) {
        background-color: #f2f2f2;
        padding: 2px 4px;
    }
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: #0000EE;
        display: flex;
        align-items: center;
        text-decoration: none;

        &:hover {
            color: #990000;
        }
    }
}