.caption {
    border-bottom: thin solid var(--color);
    padding-bottom: 24px;

    div {
        position: relative;
        width: 100%;
        aspect-ratio: 16/6;
        margin-bottom: 16px;
    }

    h1 {
        margin-bottom: 8px;
    }

    span {
        font-size: 14px;
        /* color: #777777; */
        color: var(--secondary-color);
    }
}

.wrapper {
    padding: 24px 0 36px;

    p {
        margin-bottom: 20px;
    }

    ol, ul {
        margin: 0 0 20px 20px;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 8px;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 4px;
    }

    pre {
        margin-bottom: 20px;
        text-wrap: auto;
    }

    a {
        /* color: #869FCB; */
        text-decoration: none;

        &:hover {
            color: #990000;
        }
    }

    blockquote {
        border-left: thick solid var(--color);
        padding: 4px 0 4px 16px;
        margin-bottom: 20px;
        background-color: var(--secondary-background-color);
        /* background-color: #f8f8f8; */

        * {
            margin: 0;
        }

        p {
            margin-bottom: 8px;
        }
    }

    code:not(pre > code) {
        background-color: var(--secondary-background-color);;
        /* background-color: #f2f2f2; */
        padding: 2px 4px;
    }
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: #3872E0;
        display: flex;
        align-items: center;
        text-decoration: none;

        &:hover {
            color: #990000;
        }
    }
}